.ivu-message
  z-index 99999 !important

.ivu-upload-list
  height 100px !important

.ivu-select-selection
  height 28px !important
  line-height 28px !important
  border-color #DDAF59 !important
  box-shadow none !important
.ivu-select-input
  height 28px !important
  line-height 28px !important
  padding 0 10px 0 8px !important
.ivu-select-item.ivu-select-item-selected
  color #DDAF59 !important
